{% extends "blog/base.html" %}

{% block title %}Add a Comment{% endblock %}

{% block content %}
  <div class="container mt-4">
    {% if comment %}
      <div class="alert alert-transparent" role="alert">
        <h2>Your comment has been added.</h2>
        <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Back to the post</a></p>
      </div>
    {% else %}
      <div class="card">
        <div class="card-body">
          {% include "blog/post/includes/comment_form.html" %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
